<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head-content.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-lg my-3">
      <% if (animals.length) { %>
      <h1>
        You cannot delete
        <mark class="text-info"><%= className %> </mark> yet.
      </h1>
      <p>
        You <strong>must</strong> delete the following animals before deleteing
        this family:
      </p>
      <div class="list-group">
        <% animals.forEach(animal => { %>
        <a
          href="<%= animal.detailsUrl %>"
          class="text-primary list-group-item list-group-item-action"
          ><%= animal.name %></a
        >
        <% }) %>
      </div>
      <% } else { %>
      <form action="" method="POST">
        <h1 class="mb-4">
          Are you sure you want to delete this family:
          <mark class="text-info"><%= className %></mark>?
        </h1>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </body>
</html>
