<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head-content.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-lg my-3">
      <h1><%= formTitle %></h1>
      <form action="" method="post">
        <%# NAME %>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control <% if (errors.name) { %>is-invalid<% } %>"
            placeholder="Puma"
            autocomplete="off"
            value="<%= animal.name %>"
          />
          <div class="invalid-feedback"><%= errors.name %></div>
        </div>

        <%# SCIENTIFIC NAME %>
        <div class="form-group">
          <label for="scientificName">Scientific Name</label>
          <input
            type="text"
            id="scientificName"
            name="scientificName"
            class="form-control font-italic <% if (errors.scientificName) { %>is-invalid<% } %>"
            placeholder="Puma Concolor"
            autocomplete="off"
            value="<%= animal.scientificName %>"
          />
          <div class="invalid-feedback"><%= errors.scientificName %></div>
        </div>

        <%# CLASS %>
        <div class="form-group">
          <label for="class">Class</label>
          <select
            name="class"
            id="class"
            class="form-control <% if (errors.class) { %>is-invalid<% } %>"
          >
            <% classes.forEach(aClass => { %>
            <option 
              value="<%= aClass.id %>"
              <%= aClass.id == animal.classId ? 'selected'  : '' %>
            >
              <%= aClass.name %>
            </option>
            <% }) %>
          </select>
          <div class="invalid-feedback"><%= errors.class %></div>
        </div>

        <%# FAMILY %>
        <div class="form-group">
          <label for="family">Family</label>
          <select
            name="family"
            id="family"
            class="form-control <% if (errors.family) { %>is-invalid<% } %>"
          >
            <% families.forEach(family => { %>
            <option 
              value="<%= family.id %>"
              <%= family.id == animal.familyId ? 'selected'  : '' %>
            >
              <%= family.name %>
            </option>
            <% }) %>
          </select>
          <div class="invalid-feedback"><%= errors.family %></div>
        </div>

        <%# CONSERVATION STATUS %>
        <div class="form-group">
          <label for="status">Conservation Status</label>
          <select
            name="status"
            id="status"
            class="form-control <% if (errors.status) { %>is-invalid<% } %>"
          >
            <% statuses.forEach(status => { %>
            <option
              value="<%= status.id %>"
              <%= status.id == animal.statusId ? 'selected'  : '' %>
            >
              <%= status.name %> (<%= status.abbreviation %>)
            </option>
            <% }) %>
          </select>
          <div class="invalid-feedback"><%= errors.status %></div>
        </div>

        <%# DESCRIPTION %>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control <% if (errors.description) { %>is-invalid<% } %>"
            name="description"
            id="description"
            rows="5"
          >
<%= animal.description %></textarea
          >
          <div class="invalid-feedback"><%= errors.description %></div>
        </div>

        <%# SUBMIT BUTTON %>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </body>
</html>
