<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head-content.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
<div class="container-lg">
  <div class="d-flex justify-content-between align-items-center my-3">
    <h1 class=""><%= name %></h1>
    <div>
      <% if (currentUser && currentUser.isAdmin) { %>
       
      <a href="<%= updateUrl %>" class="text-decoration-none text-white mr-2">
        <button class="btn btn-primary">Update</button>
      </a>
      <a href="<%= deleteUrl %>" class="text-decoration-none text-white">
        <button class="btn btn-danger">Delete</button>
      </a>
      <% } %>
    </div>
  </div>
  <h3 class="mb-3 font-italic text-secondary"><%= scientificName %> </h3>
  <h4 class="mb-3 font-italic text-secondary"><%= className %>・<%= familyName %></h3>
  <h5><%= statusName %></h4>
  <p><%= description %></p>
</div>
</body>
</html>