<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head-content.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-lg" style="max-width: 768px">
      <div class="d-flex justify-content-between align-items-center my-3">
        <h1 class=""><%= name %></h1>
        <div>
          <% if (currentUser && currentUser.isAdmin) { %>
          <a
            href="<%= updateUrl %>"
            class="text-decoration-none text-white mr-2"
          >
            <button class="btn btn-primary">Update</button>
          </a>
          <a href="<%= deleteUrl %>" class="text-decoration-none text-white">
            <button class="btn btn-danger">Delete</button>
          </a>
          <% } %>
        </div>
      </div>
      <p><%- description %></p>
    </div>
  </body>
</html>
